# API endpoint khi chạy local bằng npm run dev
VITE_API_LOCAL_URL=http://localhost:8080/api

# API endpoint khi FE được build/deploy lên Netlify
VITE_API_PRODUCTION_URL=https://backend-class-management.up.railway.app/api